 /*---- navbar -----*/
 * {
   margin: 0;

 }

 ul.navbar {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: #272525;
 }

 li {
   text-decoration: none;
   display: block;
 }

 ul.navbar li {
   float: left;
 }

 ul.navbar li a {
   font-family: Helvetica, Arial, sans-serif;
   font-size: 22px;
   display: block;
   color: #ffffff;
   font-size: 140%;
   padding: 20px 19px;
   text-decoration: none;
 }

 ul.navbar li a:hover {
   background-color: #131212;
 }

 ul.navbar li.right {
   float: right;
 }

 /*---- SlideShow ----*/
 * {
   box-sizing: border-box
 }

 /* Slideshow container */
 .slideshow-container {
   position: relative;
   margin: auto;
 }

 /* Hide the images by default */
 .mySlides {
   display: none;
   margin: 0;
 }

 .mySlides img {
   height: 500px;
   object-fit: cover;
 }

 /* Next & previous buttons */
 .prev,
 .next {
   cursor: pointer;
   position: absolute;
   top: 50%;
   width: auto;
   margin-top: -22px;
   padding: 16px;
   background-color: #272525;
   color: white;
   font-weight: bold;
   font-size: 18px;
   transition: 0.6s ease;
   border: none;
   border-radius: 0 3px 3px 0;
   user-select: none;
 }

 /* Position the "next button" to the right */
 .next {
   right: 0;
   border-radius: 3px 0 0 3px;
 }

 /* On hover, add a black background color with a little bit see-through */
 .prev:hover,
 .next:hover {
   background-color: rgba(0, 0, 0, 0.8);
 }

 /* The dots/bullets/indicators */
 .dot {
   cursor: pointer;
   height: 15px;
   width: 15px;
   margin: 0 2px;
   background-color: #bbb;
   border-radius: 50%;
   display: inline-block;
   transition: background-color 0.6s ease;
 }

 .active,
 .dot:hover {
   background-color: #717171;
 }

 /* Fading animation */
 .fade {
   animation-name: fade;
   animation-duration: 1.5s;
 }

 @keyframes fade {
   from {
     opacity: .4
   }

   to {
     opacity: 1
   }
 }

 /*----- main sections ------*/
 body {
   background-color: beige;

 }

 h1 {
   font-size: 35px;
   text-align: center;
   margin-bottom: 10px;
   font-family: Helvetica, Arial, sans-serif;
   margin-bottom: 20px;
   color: #111135;
 }

 h2 {
   font-size: 27px;
   text-align: center;
   margin: 5%;
 }

 .textBox {
   margin-left: 10%;
   margin-right: 10%;
   margin-bottom: 2%;
   margin-top: 70px;
   align-items: center;
 }

 p {
   font-size: 18px;
   padding-bottom: 20px;
   font-family: 'Montserrat', sans-serif;
 }

 .textBox p {
   margin-left: 10%;
   margin-right: 10%;
   text-align: center;
 }

 .prices {
   text-align: center;
   justify-content: center;
   display: flex;
   flex-direction: row;
 }

 .pricesDiv {
   display: flex;
   flex-direction: column;
   padding-top: 10px;
   margin: 5px;
   background-color: rgb(218, 219, 219);
   border-radius: 5px;
   border-style: solid;
   border-color: darkslategrey;
 }

 @media (max-width: 800px) {
   .prices {
     flex-direction: column;
   }
 }

 .pricesDiv:hover {
   background-color: rgb(181, 182, 182);

 }

 footer {
   background-color: #272525;

 }

 footer p {
   color: #ffffff;
 }

 footer p a {
   color: #ffffff;
 }

 /* *********************** */
 /* seccion C O N T A C T O */
 /* *********************** */

 .contenedor-form {
   max-width: 1100px;
   margin: auto;
 }

 .contenedor-form .fila {
   margin-bottom: 15px;
 }

 .contenedor-form .mitad {
   display: flex;
   justify-content: space-between;
 }

 .contenedor-form input,
 .contenedor-form textarea {
   padding: 20px;
   border-radius: 20px;
   border: none;
   border: 1px solid #919191;
 }

 .contenedor-form .mitad input {
   width: 48%;
 }

 .contenedor-form .input-full {
   width: 100%;
 }

 .btn-enviar {
   display: block;
   margin: auto;
   cursor: pointer;
   transition: .5s;
   padding: 10px 15px !important;
 }

 .btn-enviar:hover {
   background-color: green;
   color: #fff;
 }